@tailwind base;

/* Begin custom styles */
body {
  @apply bg-gray-100;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
header > nav > a {
  @apply no-underline block px-2 py-1 font-semibold rounded text-gray-800;
  &:active,
  &:hover {
    @apply underline bg-gray-300 text-gray-900;
  }
}
svg.-zondicon {
  @apply relative leading-none fill-current inline mr-2 font-normal;
  height: 1.2rem;
  width: 1.2rem;
  top: -0.1em;
}
/* End custom styles */

@tailwind components;
@tailwind utilities;
