@tailwind base;

/* Begin custom styles */
body {
  @apply bg-white;
  font-family: 'Nunito', sans-serif;
}
h1 {
  @apply text-5xl font-thin;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-lg;
}
a {
  @apply text-blue-600 underline;
}
header > nav > a {
  @apply no-underline block px-1 py-1 text-gray-800;
  &:active,
  &:hover {
    @apply underline text-blue-500;
  }
}
.-zondicon {
  @apply relative leading-none fill-current inline mr-2 font-normal;
  height: 1.2rem;
  width: 1.2rem;
  top: -0.1em;
}
.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: grey;
}
.spinner {
  margin: auto;
  fill: transparent;
  stroke: #728095;
  opacity: 0.5;
  stroke-width: 4px;
  animation: spinner-dash-animation 2s ease infinite, spinner-rotate-animation 2s linear infinite;
}
@keyframes spinner-dash-animation {
  0% {
    stroke-dasharray: 1,95;
    stroke-dashoffset: 1;
  }
  50% {
    stroke-dasharray: 85,95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85,95;
    stroke-dashoffset: -93;
  }
}
@keyframes spinner-rotate-animation {
  0% {transform: rotate(0deg); }
  100% {transform: rotate(360deg); }
}
/* End custom styles */

@tailwind components;
@tailwind utilities;
